@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root{
    --header-color: whitesmoke;
    --link-color:red;
}

html {
    height: 100vh;
    overflow: hidden;
}
body {
    margin: 0; 
    display: flex;
    flex-direction: column;
    cursor: default;
}

@font-face {
    font-family: 'logo';
    src: url(./fonts/AquireLight-YzE0o.otf);
}

.header{
    width: 100vw;
    height: 15vh;
    background-color: black;
    display: flex;
    align-items: center;
}

ul{
    color: white;
    list-style-type: none;
    font-family: 'source sans pro','sans-serif';
    font-size: 1.5em;
    height: 15vh;
    width: 30vw;
    padding: 0;
    display: flex;
    justify-content: space-around;
}
.header > .logo{
    color: red;
    font-family: 'logo';
    font-size: 3.5em;
    width: 30vw;
    padding-left: 5vw;
    transition: all 0.8s;
}

a{
    cursor: pointer;
    padding: 0.3em;
    transition: all 0.2s ease-in-out;
}
li{
    display: flex;
    align-items: center;
    margin: 0.3em;
}



.content-container{
    background-color: #8a7167;
    position: relative;
    height: 85vh;
}
.hero{
    width: 30%;
    height: 90%;
    object-fit: cover;
    margin-top: 2%;
    margin-left: 20%;
}
.textbox{
    position: absolute;
    top: 20%;
    left: 40%;
    background-color: #00000088;
    width: 40vw;
    height: 40vh;
    color: white;
    font-size: 2em;
    font-family: 'source sans pro';
    padding: 2em;
    display: flex;
    flex-direction: column;
    text-transform: capitalize;
    border-radius: 1em;
}
.sign-up{
    font-size: 2em;
    border-radius: 0.1em;
    background-color: #000000bb;
    transition: all 0.3s;
    border-radius: 0.2em;
    border: 1px solid transparent;
    margin-top: 1em;
    cursor: pointer;
    color: red;
    font-family: 'source sans pro';
}
.sign-up:hover{
    color: black;
    background-color: red;
}

a:hover{
    border-bottom: 4px solid var(--header-color);
    color: var(--link-color);
}

.logo:hover{
    color: rgb(143, 16, 16);
}




.signup-form{
    width: 100vw;
    height: 100vh;
    top: 0;
    position: absolute;
    background-color: whitesmoke;
    display: flex;
}

.close-button{
    position: absolute;
    font-size: 32px;
    color: black;
    right: 2vw;
    top: 4vh;
    font-family: 'logo';
    transition: all 0.2s;
    cursor: pointer;
}
.close-button:hover{
    color: red;
}
.left-container{
    display: flex;
    width: 30vw;
    background-color: red;
}
.left-container > .logo{
    position: absolute;
    width: 30%;
    text-align: center;
    background-color: #00000088;
    color: whitesmoke;
    font-family: 'logo';
    font-size: 5.5vw;
    height: 100%;
    padding-top: 20%;

}
.signup-form > .left-container > img{
    width: 30vw;
    height: 100%;
    object-fit: cover;
}


.right-container{
    display: flex;
    flex-direction: column;
    width: 70vw;
}
.top-text{
    width: 70vw;
    margin-top: 0.5em;
    font-family: 'source sans pro';
    font-size: 3.5em;
    display: flex;
    justify-content: center;
    height: 10vh;
}
.highlight{
    color: red;
}



label{
    font-family: 'source sans pro';
    font-size: 1.5em;
    display: inline-block;
}
.input{
    width: 100%;
    padding-top: 5vh;
    padding-bottom: 10vh;
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    gap: 10vh;
    background-color: white;
    height: 100vh;
}
.inputs{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
input{
    font-family: 'source sans pro';
    border: none;
    border-bottom: 2px solid black;
    font-size: 1.5em;
    text-transform: capitalize;
    width: 25vw;
}
input:focus{
    outline: none;
    border-bottom: 3px solid lightblue;
}
input:invalid {
    border-bottom: 3px solid red;
}
input:valid{
    border-bottom: 3px solid yellowgreen;
}
#email{
    text-transform: none;
}

#create-account{
    width: 30vw;
    position: absolute;
    left: 50%;
    bottom: 2%;
    font-size: 2em;
    padding: 0.5em;
    font-family: 'logo';
    border: none;
    border-radius: 0.4em;
    color: whitesmoke;
    background-color: black;
    position: absolute;
    transition: all 0.3s;
    cursor: pointer;
}
#create-account:hover{
    color: red;
}

.hide{
    display: none !important;
}
.open{
    animation: open 0.5s 1 forwards ease-out;
}
.close{
    animation: close 0.3s 1 forwards ease-in-out;
}

@keyframes open {
    from{
        left: 200%;
    }
    to{
        left: 0%;
    }
}

@keyframes close {
    from{
        left: 0%;
    }
    to{
        left: 200%;
    }
}